<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577167809511-2npvut2n221vu494scrocdpumiehptgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577167809511-2npvut2n221vu494scrocdpumiehptgv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdF2UQGNAYEtCV0cNbZPI7AufQNVDB8G8</string>
	<key>GCM_SENDER_ID</key>
	<string>577167809511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungexercies</string>
	<key>PROJECT_ID</key>
	<string>ungexercise-873e4</string>
	<key>STORAGE_BUCKET</key>
	<string>ungexercise-873e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:577167809511:ios:62d6a09782c1e0166d3b42</string>
</dict>
</plist>
